.input-wrapper {
  background: #ffffff;
  border: 1px solid #19c79d;
  box-sizing: border-box;
  height: 40px;
  outline: none;
  padding: 15px;
  width: 100%;
  color: #4a4a4a;
  border-radius: 5px;
}
